@use '../utils/vars' as *;

.text-400 {
  color: $text-primary-500;
  font-size: $fs-400;
  font-weight: 400;
  line-height: 1.26;
  &--light {
    color: $text-primary-700;
    font-weight: 600;
  }
  &--link {
    color: $text-primary-100;
    transition: 0.25s ease-in;
    &:hover,
    &:focus {
      color: $text-primary-700;
      cursor: pointer;
    }
  }
}

.text-500 {
  color: $text-primary-500;
  font-size: $fs-500;
  font-weight: 300;
  line-height: 1.44;
}

.text-700 {
  color: $text-primary-100;
  font-size: $fs-700;
  font-weight: 600;
  line-height: 1.26;
  &--link {
    transition: 0.25s ease-in;
    &:hover,
    &:focus {
      color: $text-primary-700;
      cursor: pointer;
    }
  }
}

.bg-500 {
  background-color: $bg-primary-500;
}

.bg-700 {
  background-color: $bg-primary-700;
}
