$ff-primary: 'Outfit', sans-serif;

$text-primary-100: hsl(0, 0%, 100%);
$text-primary-500: hsl(215, 51%, 70%);
$text-primary-700: hsl(178, 100%, 50%);

$bg-primary-400: hsl(215, 32%, 27%);
$bg-primary-500: hsl(216, 50%, 16%);
$bg-primary-700: hsl(217, 54%, 11%);
$bg-transparent-700: hsla(178, 100%, 50%, 50%);

$fs-400: 0.9375rem;
$fs-500: 1.125rem;
$fs-700: 1.375rem;
